<h1>new task</h1>

<%= form_with model: @task, local: true do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title, required: true %>
  </div>

  <div>
    <%= form.label :details %>
    <%= form.text_area :details %>
  </div>

  <div>
    <%= form.hidden_field :completed, value: false %>
  </div>

  <%= form.submit 'Create Task' %>
<% end %>

<%= link_to 'return', tasks_path %>
